.personas{
    display: flex;
    /* pone los elemntos uno alado del otro */
    justify-content: space-between;
    /* les da espacio entre los elemtos  */
    padding-top: 3rem;
    /* crea espacio arriba */
    line-height: 1.684rem;
    /* estable espacio entre las lineas del texto */
}

@media screen and(min-width:0) {
    .personas{
        flex-direction: column;
    }
}

@media screen and(min-width:768px) {
    .personas{
        flex-direction: row;
    }
}

